body,html,form,section,article,header,footer,div,table,
fieldset,h1,h2,h3,h4,h5,h6,aside,nav{
    margin:0;
}

html, body {
    height: 100%;
    position:relative;
}

.container {
    margin-left: auto;
    margin-right:auto;
    height: 100% !Important;
    margin-bottom: -50px;  
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} 
.nav-container {
    background: #345;
    color: white;
}
.nav-container ul {
    list-style:none;
    padding:0;
}
.nav-container li {
    padding:10px;
    display: inline-block;
}
.nav-container a{
    color: #fea;
    padding:10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 75%;
}
.main {
    
}
.main:after {
  content: "";
  display: block;
}
.footer-container {
    background: #789;
}
.footer-container p {
    text-align: center;
    padding:2px;
}
.footer-container a {
    font-size:.7em;
    color:#fea;
    text-decoration:none;
}

.float-left { float:left;}
.float-right { float:right;}
.clear { clear:both; }

.red { color: #ff0000;}
.blue { color: #0026ff;}
.green { color: #1ba648; }
 
.sp-home {
    border-top: 4px solid red;
}
.sp-about {
    border-top: 4px solid blue;
}
.sp-login {
    border-top: 4px solid green;
}
.sp-home:hover {
    background:red;
}
.sp-about:hover {
    background:blue;
}
.sp-login:hover {
    background:green;
}


.image {
    width:100%;
}
.thumbnail {
    background: url(../Images/high1.jpg) no-repeat -700px -1200px;
    height:100px;
    width:300px;
}
 