 .container {
  margin-right: auto;
  margin-left: auto;
  border-left:1px solid #aaa;
  border-right:1px solid #aaa;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    color:green;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
    color:blue;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    color:red;
  }
} 

body {
}
.header-container {
    
}
.header-container h1{
   font-family: serif;
   font-size: 4em;
    
}
.header-container h4 {
    color: #aaa;
    text-align: right;
}     
.header-container img{
    width:80%;
    padding:5px;
}
.footer-container{
    background: #123;
    color:white;
}
.footer-container p {
    padding:3px;
}
.main {
    min-height: 300px;
}
.nav-container {
    background: #123;
}
.nav-container ul {
     list-style: none;
     padding:0;
}
.nav-container li {
    display: inline-block;
    padding:5px;
}
.nav-container a{
    color: #eee;
    text-decoration:none;
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}
.clear {
    clear:both;
}
h1{
    font-size:3em;
}


