 .container {
  margin-right: auto;
  margin-left: auto;
  border-left:1px solid #aaa;
  border-right:1px solid #aaa;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    color:green;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
    color:blue;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    color:red;
  }
} 

body {
    font-family: sans-serif;
    overflow-wrap:break-word;
}
.header-container {
    
}
.header-container h1{
   font-family: serif;
   font-size: 4em;
    
}
.header-container h4 {
    color: #aaa;
    text-align: right;
    margin-top:-40px;
}     
.header-container img{
    width:80%;
    padding:5px;
}
.footer-container{
    background: #123;
    color:white;
}
.footer-container p {
    padding:3px;
}
.main {
    min-height: 300px;
}
.nav-container {
    background: #123;
    margin:0;
}
.nav-container ul {
     list-style: none;
     padding:0;
}
.nav-container li {
    display: inline-block;
    padding:5px;
}
.nav-container a{
    color: #eee;
    text-decoration:none;
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}
.clear {
    clear:both;
}
h1{
    font-size:3em;
}

.border-left { border-left:1px solid #aaa;}
.border-right { border-right:1px solid #aaa;}
.border-top { border-top:1px solid #aaa;}
.border-bottom { border-bottom:1px solid #aaa;}
.border { border:1px solid #aaa;}
.shadow { box-shadow:3px 3px 3px #aaa;}

.text-center { text-align:center;}
.text-left { text-align:left;}
.text-right { text-align:right;}
.text-justify { text-align:justify;}
.text-shadow { text-shadow: 3px 3px 3px #aaa;}

.panel { border:1px solid #aaa; margin:0;}
.panel .header { background: #456; color:white; margin:0;}
.panel .title { font-size:1.5em;}
.panel .body { font-size:1em;}

.dyna-width-1 { width:10%; }
.dyna-width-2 { width:20%; }
.dyna-width-3 { width:30%; }
.dyna-width-4 { width:40%; }
.dyna-width-5 { width:50%; }
.dyna-width-6 { width:60%; }
.dyna-width-7 { width:70%; }
.dyna-width-8 { width:80%; }
.dyna-width-9 { width:90%; }
.dyna-width-10 { width:100%; }
